[user]
  name = {{ username }}
[push]
  default = upstream
[color]
  ui = true
[alias]
  aa = add --all
  r  = rebase
  au = add -u
  st = status
  d  = diff -w
  br = branch
  ca = commit --amend
  ci = commit -v
  fix = commit --amend --no-edit
  boyscout = commit -m "Boyscout"
  bs = commit -m "Boyscout"
  co = checkout
  lg = log --pretty=format:'%C(bold)–%Creset %C(red bold)%h%d%Creset | %C(green)%an%Creset | %C(magenta)%cr%Creset | %C(cyan)%s%Creset'
  lgr = log --pretty=format:'%s'
  lgp = log -p
  lgn = log --name-only
  cancel = reset "HEAD^"
  report-csv = "log --format='\"%cd\",\"%cn\",\"%s\"' --date=short --no-merges"
  dc = diff --cached
[pull]
  rebase = true
[difftool]
  prompt = false
[diff]
  algorithm = patience
  tool = vimdiff
[merge]
  tool = vimdiff
[credential]
  helper = cache
[core]
  autocrlf = input
  editor = vim
  whitespace = -trailing-space,-indent-with-non-tab,-tab-in-indent
